.custom-image {
  width: 200px; 
}

.button-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: left;
}

.button-box {
  display: inline-block;
  padding: 20px; 
  margin: 20px;
  background-color: #333; 
  color: #fff;
  text-decoration: none;
  border-radius: 10px; 
  font-size: 16px;
  width: 300px;   
  height: 150px;  
  cursor: pointer;
  text-align: left; 
}

.button-box h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #fff;
}

.button-box p {
  margin: 0;
  font-size: 14px;
  color: #ccc; 
}

.button-box:hover {
  box-shadow: 0px 0px 8px rgba(84, 84, 84, 0.5); 
  background-color: #2b2b2b; 
}